*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0E1014;
    color: #FFFFFF;
}

header img{
    display: block;
    margin-top: 75px;
    margin-left: 360px;
}

h1, p, a{
    color: #FFFFFF;
}

h1{
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}

h1 span{
    color: #9747FF;
}

p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto
}

a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}


@media(max-width: 768px ) {
 header img{
    margin: 65px 0 0 60px;
 }

 p{
    width: 648px;
 }
}

@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }

    h1{
        font-size: 40px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 340px;
        height: 230px;
    }



}


